*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
data/
CPU/build
CPU/datasets
CPU/dist
CPU/et_profiles
CPU/nbproject
CPU/test
CPU/boost_file_path
CPU/boost_file_path.cpp
CPU/job_script.sh
CPU/Makefile
CPU/netmf_eigen
CPU/random_connected_graph.py
CPU/result_set1.txt
CPU/result.txt
CPU/ri2_single_job_spmv_performance.sh
CPU/todo.md

CPU/6_run_set
CPU/*.png
CPU/slurm*

CPU/.gdb_history
CPU/.idea/
CPU/embb_quality_check/
CPU/netmf_sparse
CPU/slurm*

